@media screen and (min-width: 1080px) {
    .career_set {
        display: flex;
        justify-content: center;
        align-items: top;

        display: grid;
        grid-auto-flow: column;
        grid-column-gap: 10vw;
    }

    .result_option_01 {
        font-size: 2.25vw;

        margin-top: 2.5vw;
    }

    /* career page main title, and  */

    .career_result a {
        display: flex;

        color: white;
        
        text-decoration: none;
        border-bottom: 2px solid;
    }

    .career_result h2 {

        font-size: 1.75vw;
        font-weight: 500;

    }

    .career_result h3 {

        width: 15vw;
        height: auto;

        font-size: 0.85vw;
        font-weight: 300;

        padding: 0.25vw;

        justify-content:space-between;

    }
}
@media screen and (max-width: 1079px) {
}