@media screen and (min-width: 1080px) {
    .career_detail {
        margin: 2vw;
    }
    .career_detail h2 {
        font-size: 3.5vw;
    }
    .career_detail h3 {
        margin-left: 2vw;

        font-size: 1vw;
        font-weight: 300;
    }
    .career_detail h4 {
        margin-left: 2vw;

        font-size: 1.25vw;
        font-weight: 300;
    }
}