.career_detail {
    margin: 2vw;
    
    display: flex;
    justify-content: center;
}
.career_detail_article {
    display: flex;
    flex-direction: column;
    align-items: center; /* 가로축에서 가운데 정렬 */
}

@media screen and (min-width: 1080px) {
    .career_detail_article h2 {
        font-size: 2vw;
        font-weight: 500;
        padding-bottom: 1vw;

        border-bottom: 3px solid;
    }
    .career_detail_article h3 {
        font-size: 0.85vw;
        font-weight: 300;
    }
    .career_detail_article h4 {
        width: 27vw;
        height: auto;

        font-size: 1.125vw;
        font-weight: 300;

        text-align: center;
    }
}